@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

li {
    list-style: none;
}

nav {
    background-color: rgb(245, 240, 169);
    font-family: 'Oswald', sans-serif;
    height: 70px;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.logo {
    float: left;
}

.nav-list {
    display: inline-block;
    
}

.list {
    align-items: center;
}

.nav-list ul li {
    font-weight: bold;
    margin-left: 10px;
    display: flex;
}